[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git@github.com:wincent/Command-T.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
